<div class="form-group">
    <label for="content">Write a note:</label>
    <%= form_tag() do %>
        <%= text_area_tag 'content', nil, class: "form-control"%>
            <%= submit_tag "Submit", class: "btn btn-default" %>
                <% end %>
</div>