<%= form_tag() do %>
    <div class="form-group">
        <label for="username">Write a note...</label>        
        <%= text_area_tag 'content', nil, class: "form-control"%>
    </div>
    <%= submit_tag "Submit", class: "btn btn-default" %>
<% end %>