<% content_for :title, "Note" %>
<button id="view" class="btn btn-primary">View and delete</button><br>
<label for="password">Password(optional):</label>
<input type="password" id="password" class="form-control"><br>
<script>
        $("#view").click((e) => {
            e.preventDefault();
            $.ajax({
                method: "POST",
                beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
                url: "<%=@note.slug%>/raw",
                data: {password: $("#password").get(0).value}
            })
            .done(content => $("#content").html(content.replace(/\n/g, '<br />')))
            .fail((er) => alert(er.statusText))
        });
</script>