<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Note was opened</h1>
    <p>
      The note at <%= @note.slug %> was opened and deleted on <%= @time %>
    </p>
    <p>
      To send new note: <%= @url %>.
    </p>
    <p>Thanks for using our service and have a great day!</p>
  </body>
</html>